<div th:replace="fragments/header::header"></div>

<div class="container">
	<div class="bg-dark text-light py-1 pl-4">
		<h2 class="mx-5">Accueil</h2>
	</div>
	<br>
	<p class="bg-secondary text-light p-4">
		Le jeu de carte "Eclypse" est un jeu de carte inventé par Geoffrey
		MARION, dans le cadre d'une série de jeu de rôle Grandeur Nature (Dans l'univers de Fading Suns). <br>
		Il avait pour vocation dans ces GN de proposer un jeu de carte au
		joueurs afin que leurs personnages puissent gagner de l'argent aux
		tables de jeu, il proposait aussi des visions pour leurs personnages
		quand ceux qui disposaient de certains assemblages de cartes poséés
		devant eux à la fin de la partie.<br> <br> 
		Ce jeu a un gameplay qui le fait ressembler au poker, au jeu des septs familles
		ainsi qu'a un certain nombre de jeu de "draft".<br> Le but pour
		chaque joueur est donc d'arriver au score maximum en cumulant les
		scores des cartes qu'il pose et les bonus de points liés aux bonus de
		fin de partie (suites,couleurs....).<br> <br> 
		Les parties peuvent rassembler de 3 à 4 joueurs et se
		déroulent sur 4 tours qui sont un ensemble de tours d'échange et de
		pose de cartes. <br> Les cartes ont une valeur en point (en haut
		a droite),une couleur (visible derrière la valeur et sur le fond de la
		carte),une caste (visible en haut), un nom (visible en haut à coté de
		la caste) et un effet(visible en bas de carte). <br><br>
		Dans le cadre  de cette version "en ligne" un certain nombre de règles ont
		été tronquées afin de rendre le projet viable et de permettre ce portage. <br>
		Les visions ne sont pas d'actualité, les effets de cartes ne sont pas 
		encore considérés car ils sont pour certains complexes a gérer sur
		une application en ligne. <br> 
		Il n'est d'ailleurs possible pour le moment que de jouer en "hotseat", 
		cad a plusieurs sur le même ordinateur en se passant le PC, même si
		il serait bien évidement intéressant de faire un multi joueur en ligne.<br> <br>
		Nous espérons pouvoir améliorer cette expérience au fur et à mesure en 
		intégrant ces fonctionnalités dès que possible et nous espérons que 
		vous vous amuserez avec les fonctionnalités déjà présentes.<br> <br>
		Bon jeu, l'équipe d'Eclypse
	</p>
</div>
<div th:replace="fragments/footer::footer"></div>