<div th:replace="fragments/header::header"></div>

<div class="container">
	<div class="bg-dark text-light py-1 pl-4">
		<h2 class="mx-5">Scores</h2>
	</div>
	<div>
<!-- 	<table class="table table-dark"> -->
<!-- 					<thead> -->
<!-- 						<tr> -->
<!-- 							<th scope="col">#</th> -->
<!-- 							<th scope="col">Joueur 1</th> -->
<!-- 							<th scope="col">Joueur 2</th> -->
<!-- 							<th scope="col">Joueur 3</th> -->
<!-- 							<th scope="col">Joueur 4</th> -->
<!-- 						</tr> -->
<!-- 					</thead> -->
<!-- 					<tbody> -->
<!-- 						<tr th:each="partie:${parties}"> -->
<!-- 							<th scope="row" th:text="${partie.id_partie}"></th> -->
<!-- 							<td th:text="${partie.joueurs.get(0).nom}+' - '+${partie.joueurs.get(0).score.valeur}"></td> -->
<!-- 							<td th:text="${partie.joueurs.get(1).nom}+' - '+${partie.joueurs.get(1).score.valeur}"></td> -->
<!-- 							<td th:text="${partie.joueurs.get(2).nom}+' - '+${partie.joueurs.get(2).score.valeur}"></td> -->
<!-- 							<td th:text="${partie.joueurs.get(3).nom}+' - '+${partie.joueurs.get(3).score.valeur}"></td> -->
<!-- 						</tr> -->
<!-- 					</tbody> -->
<!-- 				</table> -->
	</div>
</div>
<div th:replace="fragments/footer::footer"></div>