<div th:replace="fragments/header::header"></div>

<div class="container">
	<div class="bg-secondary text-light py-1 pl-4 border border-light">
		<h2 class="mx-5">Scores</h2>
	</div>
	<div>
	<table class="table table-dark">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Joueur 1</th>
							<th scope="col">Joueur 2</th>
							<th scope="col">Joueur 3</th>
							<th scope="col">Joueur 4</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="scorespartie:${scoresparties}">
							<th scope="row" th:text="${scorespartie.id_scorespartie}"></th>
							<td th:text="${scorespartie.nomjoueurs.get(0)}+' - '+${scorespartie.scores.get(0)}"></td>
							<td th:text="${scorespartie.nomjoueurs.get(1)}+' - '+${scorespartie.scores.get(1)}"></td>
							<td th:text="${scorespartie.nomjoueurs.get(2)}+' - '+${scorespartie.scores.get(2)}"></td>
							<td th:text="${scorespartie.nomjoueurs.get(3)}+' - '+${scorespartie.scores.get(3)}"></td>
						</tr>
					</tbody>
				</table>
	</div>
</div>
<div th:replace="fragments/footer::footer"></div>